<div id="about-me-wrapper">
    <div id="background-box"></div>
    
    <div id="profile-wrapper">
        <div id="portrait"></div>
        <span id="name">מיטל תמיר</span>
        <span id="proffesion">שפית ללא גלוטן</span>
    </div>
    <span id="description">
הכירו את מיטל, המייסדת והכוח היצירתי מאחורי "מיטל - עולם ללא גלוטן". כמי שנולדה עם צליאק, מיטל מביאה איתה שנים של ניסיון אישי ומקצועי בהכנת מאפים ללא גלוטן. המסע שלה החל מתוך תשוקה ליצירת מאכלים צליאקים איכותיים וטעימים, והיא הפכה למומחית ביצירת מאפים ללא גלוטן שמעניקים חוויית טעם עשירה ללא פשרות.
<br/><br/>
עם ידע רחב וניסיון עשיר בהכנת מאפים ללא גלוטן, מיטל שואפת להעניק ללקוחותיה מוצרי איכות שלא רק בטוחים למאכל, אלא גם טעימים לכולם. חזונה מתרחב מעבר לעוגות בלבד, והיא מתכננת להוסיף בעתיד גם מאפים נוספים לתפריט שלה - תמיד באותה רמה גבוהה של איכות וטעם.
<br/><br/>
המטרה של מיטל פשוטה וברורה: לוודא שלעולם לא יחסר לצליאקים דבר לאכול. בין אם מדובר בעוגה לחגיגה מיוחדת או במאפה מפנק ליום-יום, מיטל כאן כדי לוודא שעולם ללא גלוטן הוא עולם מלא בטעמים משובחים.
    </span>
</div>
