@import '../landing/landing.component.scss';

#about-me-wrapper{
    $name-font-size: 56px;
    $proffesion-font-size: calc($name-font-size - 20px);
    $description-font-size: calc($proffesion-font-size - 15px);
    $background-box-height: 150px;
    width: 100%;
    background: #C88D58;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    #background-box{
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: $background-box-height;
        background: #dea673;
        border-bottom: 2px solid white;
        z-index: 0;
    }

    #profile-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            font-family: "Rubik", sans-serif;
            color: white;
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(0,0,0, 0.76);
        }

        #name{
            margin-top: 10px;
            font-size: $name-font-size;
        }
        #proffesion{
            font-size: $proffesion-font-size;
        }
        #portrait{
            $width: 200px;
            width: $width;
            margin-top: calc($background-box-height - $width / 2);
            box-sizing: border-box;
            background-position: 42% 4%;
            background-size: 230%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 3px solid white;
            background-image: url("@images/portrait.jpg");
        }
    }
    #description{
        margin-top: 20px;
        right: 3vw;
        line-height: 28px;
        position: relative;
        width: min(77vw, 957px);
        direction: rtl;
        text-align: right;
        display: block;
        color: white;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: $description-font-size;
        text-shadow: 1px 1px 3px rgb(0 0 0);
    }

}

@media (max-width: #{$snap-to-bottom-width}){
    #about-me-wrapper{
        padding-bottom: 80px;
    }
}

@media (max-width: 320px){
    #about-me-wrapper #profile-wrapper{
        $name-font-size: 17.5vw;
        $proffesion-font-size: calc($name-font-size - 20px);
        #name{
            font-size: max(45.15px, $name-font-size);
        }
        #proffesion{
            font-size: max(26.5px, $proffesion-font-size);
        }
        #description{
            font-size: max(17.15px, calc($proffesion-font-size - 5px));
        }
    }
}