@import '@root/styles.scss';
@import '../landing/landing.component.scss';

.wrapper{
    z-index: 2;
    background-color: #fbeee0;
    display: flex;
    width: $nav-width;
    min-width: 560px;
    border-radius: 12px;
    justify-content: space-evenly;
    box-shadow: #422800 3px 3px 0 0;
    border: 1px solid #422800;
    box-sizing: border-box;
    cursor: pointer;
    
    .nav-item{
        font-family: "Rubik", sans-serif;
        color: #422800;
        font-size: 1.2rem;
        letter-spacing: 2.5px;
        text-decoration: none;
        padding: 6px 0px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        text-align: center;

        ::ng-deep .dynamic-new-line{
            display: none;
        }
    }

    @media (max-width: #{$convert-to-mobile-width}){    
        .nav-item{
            padding: 1.5px 0;
            ::ng-deep .dynamic-new-line{
                display: block;
            }
        }        
    }

    .partition{
        width: 3px;
        height: 100%;
        background: #422800;
    }

}    



@media (max-width: 660px){
    .wrapper{
        min-width: auto;
        width: 85vw;   
        .nav-item{
            padding: 3px 0;
            font-size: min(1.1rem, 5vw);
        }
    }
}