<div class="background-overlay" (click)="close()">
    <div class="detail-wrapper" [@openClose]="viewStateToAnimationState()" (click)="stopPropagationFuncRef($event)">
        <div></div>
        <button class="close-button" (click)="close()"></button>
        <img src="assets/images/menu-items/{{cardData.imgName}}" alt="menu-item-{{cardData.cardId}}">
        <div class="text-wrapper">
            <div class="card-name">
                <span>{{cardData.name}}</span>
            </div>
            <div class="card-description">
                <span class="description">{{cardData.description}}</span>
                <span class="price">{{cardData.price}}₪</span>
            </div>
        </div>
    
        <div class="call-info">
            <span class="click-phone-number-text">להזמנה לחצו</span>
            <a class="phone-number" href="{{phoneSocialData.Link}}">{{phoneSocialData.Value}}</a>
            <a class="whatsapp-logo" href="{{whatsappSocialData.Link}}"><div [innerHTML]="whatsappSocialData.ImgSvg"></div></a>
        </div>
    </div>
</div>