#wrapper {
    $logo-total-size: 120px;
    $logo-img-size: calc($logo-total-size * 0.65);
    background-image: url('@images/brownBubble.png');
    width: $logo-total-size;
    aspect-ratio: 1 / 1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    #logo-img {
        background: url('@images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: $logo-img-size;
        height: $logo-img-size;
    }
}
