
// $logo-names: 'whatsapp', 'instagram', 'facebook', 'phone';
// @each $logo-name in $logo-names{
//     .#{$logo-name}{
//         background: url('@images/#{$logo-name}Logo.png');
//     }
// }

@import '../../landing.component.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px 0 0 15px;
    background-color: #bf773c;

    .logo, .logo .filled{
        fill: white;
    }
    .logo{
        margin: 5vh clamp(20px,1.8vw,25px);
        width: clamp(33px, 2vw ,35px);
      
        aspect-ratio: 1 / 1;

        &:hover{
            cursor: pointer;
        }
    }
}

@media (max-width: 950px){
    .wrapper .logo{
        margin-top: clamp(15px,4vw,4vw);
        margin-bottom: clamp(15px,4vw,4vw);
    }
}

@media (max-width: #{$snap-to-bottom-width}){
    .wrapper{
        $margin: 9%;
        width: calc(100% - 2 * $margin);
        margin: 0 $margin;
        border-radius: 15px 15px 0 0;
        justify-content: space-evenly;
        .logo{
            margin: clamp(20px, 1.8vw, 20px) clamp(4vw,4vw,26px);
        }
        flex-direction: row;
    }
}