
// $logo-names: 'whatsapp', 'instagram', 'facebook', 'phone';
// @each $logo-name in $logo-names{
//     .#{$logo-name}{
//         background: url('@images/#{$logo-name}Logo.png');
//     }
// }

@import '../../landing.component.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px 0 0 15px;
    background-color: #bf773c;

    .logo, .logo .filled{
        fill: white;
    }
    .logo{
        margin: 5vh clamp(20px,1.8vw,25px);
        width: clamp(33px, 2vw ,40px);
      
        aspect-ratio: 1 / 1;

        &:hover{
            cursor: pointer;
        }
    }
}

@media (max-width: 950px){
    .wrapper .logo{
        margin-top: clamp(15px,4vw,4vw);
        margin-bottom: clamp(15px,4vw,4vw);
    }
}

@media (max-width: #{$snap-to-bottom-width}){
    :host{
        display: flex;
        justify-content: center;
    }
    .wrapper{
        $width: 78%;
        max-width: 630px;
        width: $width;
        border-radius: 15px 15px 0 0;
        justify-content: space-evenly;
        .logo{
            // margin: clamp(20px, 1.8vw, 20px) clamp(4vw,4vw,26px);
            width: 37px;
            margin: 14px 4vw;
        }
        flex-direction: row;
        position: fixed;
        bottom: 0;
    }
}

@media (max-width: 500px){
    .wrapper .logo{
        width: 32px;
    }
}