<div class="wrapper">  
  <a href="{{whatsappLink}}" target="_blank">
    <div class="logo whatsapp">
        <div [innerHtml]="WhatsappSvg"></div>
    </div>
  </a>
  <a href="{{instagramLink}}" target="_blank">
    <div class="logo instagram">
        <div [innerHTML]="InstagramSvg"></div>
    </div>
  </a>
  <a href="{{facebookLink}}" target="_blank">
    <div class="logo facebook">
        <div [innerHTML]="FacebookSvg"></div>
    </div>
  </a>
  <a href="{{callLink}}">
    <div class="logo phone">
        <div [innerHTML]="PhoneSvg"></div>  
  </div>
  </a>
    
</div>