@import '@root/styles.scss';

section#landing-page{
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/landingPageBackground.png');
    background-size: cover;
    // background-position: ;
    background-repeat: no-repeat;
    $items-margin-top: 20%;
    
    app-logo{
        position: absolute;
        margin-top: 0.3%;
        // right: calc(((100vw - $nav-width) / 4) - $logo-width / 2);
        right: 75px;
    }

    app-social-media{
        position: absolute;
        top: $items-margin-top;
        right: 0;
    }

    #details {
        position: absolute;
        top: $items-margin-top;
        right: calc((100vw - $nav-width) / 2);
        width: $nav-width;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        font-family: "Varela Round", sans-serif;


        .title{
            span{
                $font-size: 7rem;
                color: white;
                text-shadow: 1px 1px 3px black;
                font-size: $font-size;
                font-weight: bold;
                text-align: right;
                display: block;
                line-height: 7rem;
            }
        }
        .subtitle{
            margin-top: 2%;
            font-family: "Open Sans", sans-serif;
            color: #bf773c;
            font-size: 3rem; 
            font-weight: bold;
        }
    }   
}

/* CSS */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0 0 0px black;
    font-size: 24px;
    padding: 2px 35px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: width 0.5s;
    margin-top: 5%;

    &:hover{
        background-color: #fff;
    }
  
    &:active{
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(2px, 2px);
    }
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
  }
}