@import '@root/styles.scss';

.wrapper{
    background-color: white;
    display: flex;
    width: $nav-width;
    border-radius: 12px;
    justify-content: space-around;

    a.nav-item{
        font-family: "Varela Round", sans-serif;
        color: #db9a60;
        font-size: 1.2rem;
        letter-spacing: 2.5px;
        text-decoration: none;
        // font-weight: bold;
        padding: 6px 0px;
        margin: 0 5px;
    }
}