<div class="food-card-wrapper">
    <img src="assets/images/menu-items/{{cardData.imgName}}" alt="menu-item-{{cardData.cardNumber}}">
    <div class="seperating-line"></div>
    <div class="background-wrapper">
        <div class="main-wrapper">
            <span class="description">{{cardData.description}}</span>
            <span class="price">{{cardData.price}}₪</span>
        </div>
        <div class="secondary-wrapper">
            <button class="button-74" role="button">צפייה במוצר</button>
        </div>
    </div>
</div>