.contact-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 27px 0;

    $logo-size: 60px;
    $logo-padding: 8px;

    .logo, g path.filled{
        fill: white;
        -webkit-text-fill-color: white;
    }

    .logo{
        width: $logo-size; height: $logo-size;
        position: relative;
        background-color: #422800;
        border-radius: 50%;
        padding: $logo-padding;
        box-sizing: border-box;

        ::ng-deep svg{
            position: relative;
        }
        
    }

    .no-background{
        background: none;
        fill: #422800;
        -webkit-text-fill-color: #422800;
        padding: 0;
    }

    .description, .value{
        font-family: "Rubik", sans-serif;        
    }

    .description{
        color: rgba(66, 40, 0, 0.61);
        font-weight: 500;
        font-size: 1.3rem;
    }

    .value{
        color: rgb(66, 40, 0);
        font-weight: 500;
        font-size: 1.3rem;
    }
}